psutil
TgCrypto
psycopg2-binary
pyrogram
python-telegram-bot==13.15
requests
speedtest-cli
telegraph
instaloader==4.9.1
pyromod
pytz
get-video-properties
ffmpeg-python
pydrive
pathlib2
schedule
python-dotenv
google-api-python-client==2.82.0
google-auth-oauthlib==1.0.0